# dependencies
/node_modules/

# production build
/dist/
/build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# testing
/coverage/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local development
/.parcel-cache/
/.next/
/out/

# TypeScript
*.tsbuildinfo

# optional npm cache directory
.npm/

# macOS
*.DS_Store

# Windows
Thumbs.db
ehthumbs.db
